@import url("https://raw.githubusercontent.com/Eklipz/tehBscBot/master/rcs/chat.css");


#chat .message:nth-child(2n+1) #chat .mention:nth-child(2n+1) #chat .skip:nth-child(2n+1) #chat .moderation:nth-child(2n+1) #chat .emote:nth-child(2n+1) #chat .update:nth-child(2n+1) #chat .welcome:nth-child(2n+1) {
    background-color: rgba(17 19 23 0.32);
    -webkit-animation: fadein 0.25s;
    -moz-animation: fadein 0.25s;
    -ms-animation: fadein 0.25s;
    -o-animation: fadein 0.25s;
    animation: fadein 0.25s;
    animation: fadein 0.25s;
    background-color: #111317;
    border-radius: 0px;
    background-color: rgba(17 19 23 0.5);
}

#chat #chat-input {
    background: rgba(80 80 80 0.25);
}

.icon-chat-admin > span {
    color: #f13b2f !important;
}

.icon-chat-ambassador > span {
    color: #84b423 !important;
}

.icon-chat-host > span {
    color: #ff00fc !important;
}

.icon-chat-cohost > span {
    color: #a350f3 !important;
}

.icon-chat-manager > span {
    color: #3ebe5f !important;
}

.icon-chat-bouncer > span {
    color: #f37550 !important;
}

.icon-chat-dj > span {
    color: #57afee !important;
}

.icon-chat-admin + span {
    color: #f13b2f !important;
}

.icon-chat-ambassador + span {
    color: #84b423 !important;
}

.icon-chat-host + span {
    color: #ff00fc !important;
}

.icon-chat-cohost + span {
    color: #a350f3 !important;
}

.icon-chat-manager + span {
    color: #3ebe5f !important;
}

.icon-chat-bouncer + span {
    color: #f37550 !important;
}

.icon-chat-dj + span {
    color: #57afee !important;
}

#playlist-panel {
    opacity: .85;
}

#footer {
    background-color: rgba(30 30 36 1) !important;
}

#playback-controls .button.snooze {
    background: #00afe4 !important;
    opacity: .7;
}

#playlist-button {
    background: #FF3558 !important;
}

#playlist-menu .menu .row.selected {
    background: #39688D !important;
}

.media-list .row.now-playing {
    background: #FF3558 !important;
    border-bottom: 1px solid #ff5f7c !important;
}

#playlist-menu .menu .row .count {
    color: #FF3558 !important;
}

#grab .bottom #grab.selected {
    background: #00afe4 !important;
}

#footer-user .bar .progress {
    background: #FF3558 !important;
}

.experience .xp .bar .progress {
    background: #FF3558 !important;
}

.activate-button span {
    color: #FFFFFF !important;
}

#playlist-activate-button {
    background: none !important;
}

#playlist-activate-button span {
    color: #FF3558 !important;
}

.media-list .row.now-playing .actions {
    background: #FF3558 !important;
}

.media-list .row.selected {
    background: #39688D !important;
}

.media-list .selected .actions {
    background: #FF3558 !important;
}

#user-lists .header .button.staff.selected {
    border-bottom: 1px solid #FF3558 !important;
}

.dialog.destructive .button.submit {
}

#room-info .button.disabled {
    background: #FF3558 !important;
}

#room-info .button.enabled {
    background: #00afe4 !important;
}

#playlist-create:hover {
    background: #0191ff !important;
}

#playlist-import:hover {
    background: #0191ff !important;
}

#playlist-edit-button:hover {
    background: #0191ff !important;
}

#playlist-shuffle-button:hover {
    background: #0191ff !important;
}

#playlist-delete-button:hover {
    background: #c42e3b !important;
}

.tab-menu button.selected {
    background: #FF3558 !important;
}

#dj-button .left {
    background: #00afe4 !important;
}

#dj-button.is-leave .left {
    background: #FF3558 !important;
}

#dj-button.is-quit .left {
    background: #FF3558 !important;
}

.delete-button:hover {
    background: #FF3558 !important;
}

.icon-plug-dj {
    display: none;
}

#chat .icon .icon-p3 {
    background-image: url('') !important;
}

.drag-media-box {
    background-color: #FF3558;
}